<div class="container-fluid" id="abC">
	<div class="row">
		<div class="col-md-12">
            <div class="card" id="about">
                <div class="card-header">
                    <h3> About the program </h3>
                </div>
                <hr class="card-heading-seperator" />
                <div class="card-block">
                    <p> Young Innovators’ Program is a platform to foster young minds with scientific enthusiasm and a credo to solve the problems facing the globe. IIT Kharagpur with a motive of recognizing students with creative ability to conduct scientific research has for the first time launched this program. In a two day visit to IIT Kharagpur, the students will get a chance to explore the scientific environment within and an opportunity to present their projects in front of distinguished researchers and guests. </p>
                </div>
            </div>
		</div>
	</div>

	<div class="row" style="margin-top: 0px;">
<!-- 		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h3> Who can participate? </h3>				
				</div>
				<hr class="card-heading-seperator" />
				<div class="card-block">
					<p> Students currently enrolled in class 8th, 9th and 10th will be expected to form groups of 2-3 and come up with a scientific innovation in form of working model, diagram or animation that can potentially solve a problem facing the globe. </p>
					<div class="btn-container">
						<div class="btn btn-success formButton"> Find your school  </div>
					</div> 
				</div>
			</div>
		</div>-->
		<div class="col-md-4">
			<div class="card" style="min-height: 400px">
				<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fbarciitkgp&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=350&amp;width=380" scrolling="yes" frameborder="0" style="border:none; overflow:scroll; width:100%;height: 350px; background: white; float:left; " allowtransparency="true">
				</iframe>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h3> Registration </h3>				
				</div>
				<hr class="card-heading-seperator" />
				<div class="card-block">
					<p>Students currently enrolled in class 8th, 9th and 10th will be expected to form groups of 2-3 and come up with a scientific innovation in form of working model, diagram or animation that can potentially solve a problem facing the globe. One teacher from every participating school will be responsible for creating an account on our website, registering the team, paying the registration fees and uploading the submissions of the preliminary round. </p>

					<p> Registrations will start from 20 June </p>
					<!-- Enter reg code here -->
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="parallaxBenefit"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="card" id="benefits">
				<div class="card-header">
					<h3> Benefit for the students </h3>
				</div>
				<hr class="card-heading-seperator" />
				<div class="row" style="margin-top: 35px;">
					<div class="col-md-4">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/robot.svg" width="100px" height="100px">
								<p style="font-size: 18px;"> Promote the culture of innovation among students in the domain of science. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/university.svg" width="100px" height="100px">
								<p style="font-size: 18px;"> Share the delightful experience of visiting the largest IIT campus. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/diploma.svg" width="100px" height="100px">
								<p style="font-size: 18px;"> Compete with top Indian schools and get evaluated by IIT faculties and scholars. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="parallaxTaxila"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="card" id="themes">
				<div class="card-header">
					<h3> Themes </h3>
				</div>
				<hr class="card-heading-seperator"/>
				<div class="row" style="margin-top: 35px;text-align: left !important;">
					<div class="col-md-4 col-sm-12">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/burn.svg" width="100px" height="100px">
								<h5> Energy </h5>
							</div>
							<!-- <h6>Examples:</h6>
							<ul>
								<li>Energy Savings with LED Lighting</li>
								<li>From Trash to Gas:Biomass Energy</li>
							</ul> -->
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/apple.svg" width="100px" height="100px">
								<h5> Agriculture and Food Sciences </h5>
							</div>
							<!-- <h6>Examples:</h6>
							<ul>
								<li>Irrigation Technologies</li>
								<li>Synthetic Flavours in food</li>
							</ul> -->
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/recycling.svg" width="100px" height="100px">
								<h5> Environment </h5>
							</div>
							<!-- <h6>Examples:</h6>
							<ul>
								<li>Recycling Greywater</li>
								<li>Alternative Sources for Paper Fiber</li>
							</ul> -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/technological.svg" width="100px" height="100px">
								<h5> Hardware Modelling </h5>
							</div>
							<!-- <h6>Examples:</h6>
							<ul>
								<li>Robotics</li>
								<li>Innovative designs of automobile parts-Wheels</li>
							</ul> -->
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/smartphone.svg" width="100px" height="100px">
								<h5> Product Designing </h5>
							</div>
							<!-- <h6>Examples:</h6>
							<ul>
								<li>App development</li>
								<li>Innovative Products for specially abled</li>
							</ul> -->
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="sub-card">
							<div class="card-header">
								<img src="/assets/images/images.png" width="100px" height="100px" style="border-radius: 50%">
								<h5> Bio-Science </h5>
							</div>
							<!-- <h6>Examples:</h6>
							<ul>
								<li>App development</li>
								<li>Innovative Products for specially abled</li>
							</ul> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" id="parallaxGuest">
		<h3> Come be our guest! </h3>
	</div>

	<div id="timeline">
		<div class="col-md-12 card">
			<section class="cd-horizontal-timeline">
				<div class="card-header"><h3> Timeline </h3></div>
				<hr class="card-heading-seperator"/>
				<div class="timeline">
					<div class="events-wrapper">
						<div class="events">
							<ol style="list-style-type: none;">
								<li><a href="#0" data-date="20/06/2017" class="selected">20 Jun</a></li>
								<!-- <li><a href="#0" data-date="30/06/2017">30 Jun</a></li> -->
								<li><a href="#0" data-date="14/07/2017">14 Jul</a></li>
								<!-- <li><a href="#0" data-date="28/07/2017">28 Jul</a></li> -->
								<li><a href="#0" data-date="18/08/2017">18 Aug</a></li>
								<!-- <li><a href="#0" data-date="31/08/2017">31 Aug</a></li> -->
								<li><a href="#0" data-date="30/09/2017">30 Sep</a></li>
								<li><a href="#0" data-date="28/10/2017">28 Oct</a></li>
							</ol>

							<span class="filling-line" aria-hidden="true"></span>
						</div> <!-- .events -->
					</div> <!-- .events-wrapper -->
						
					<ul class="cd-timeline-navigation" style="list-style-type: none;">
						<li><a href="#0" class="prev inactive">Prev</a></li>
						<li><a href="#0" class="next">Next</a></li>
					</ul> <!-- .cd-timeline-navigation -->
				</div> <!-- .timeline -->

				<div class="events-content">
					<ol style="list-style-type: none;">
						<li class="selected" data-date="20/06/2017">
							<h2>Registration</h2>
							<em>20th June, 2017</em>
							<p>	The principal needs to nominate a coordinating teacher for this program, who will be given a user ID and password for registration of the students. <br/> The students will give their details of the team along with the fees to the coordinating teacher. The coordinating teacher will upload the details on the registration portal along with payment of the enrolment fee collected all at once. Last date for registering of team and payment of enrolment fee ( Rs. 100 per student ) is <strong>30th June, 2017</strong>.</p>
						</li>

						<!-- <li data-date="30/06/2017">
							<h2>Registration Deadline</h2>
							<em>30th June, 2017</em>
							<p>	
								Last date for registering of team and payment of enrolment fee ( Rs. 100 per student ).
							</p>
						</li> -->

						<li data-date="14/07/2017">
							<h2>Round 1</h2>
							<em>14th July, 2017</em>
							<p>	The online submissions of the projects will be done by the coordinating teacher by using his/her user id and password on the portal. Round 1 results will be released both on our website. All participants who make it to the next round will also receive the news via email. Round 1 results will be released on our website on <strong>28th July, 2017</strong>. All participants who make it to the next round will also receive the news via email. </p>
							<div class="btn-container" style="margin-top: 20px;">
								<div class="btn btn-success"> Sample submissions </div>
							</div>
						</li>

						<!-- <li data-date="28/07/2017">
							<h2>Round 1 results</h2>
							<em>28th July, 2017</em>
							<p>	Round 1 results will be released both on our website. All participants who make it to the next round will also receive the news via email. 
							</p>
						</li> -->

						<li data-date="18/08/2017">
							<h2>Round 2</h2>
							<em>18th August, 2017</em>
							<p>	The online submissions of full-fledged description of the proposal of the selected teams will be done by the coordinating teacher by using his/her user ID and password. Results will be announced on <strong>31st August, 2017</strong></p>
							<div class="btn-container" style="margin-top: 20px;">
								<div class="btn btn-success"> Sample submissions </div>
							</div>
						</li>

						<!-- <li data-date="31/08/2017">
							<h2>Round 2 results</h2>
							<em>31st August, 2017</em>
							<p>	Round 1 results will be released both on our website. All participants who make it to the next round will also receive the news via email. </p>
						</li> -->

						<li data-date="30/09/2017">
							<h2>Finalist Registration</h2>
							<em>30th September, 2017</em>
							<p>	
								The teams selected for the final round will be called to IIT Kharagpur. Teams from each school will be accompanied by the coordinating teacher without which their participation for further rounds stands cancelled.  <br/> To confirm participation for the final round in IIT Kharagpur, the teams need to pay the registration fees for final round via coordinating teacher before the deadline. ( Rs. 9870 per team ) <br/> The registration fees includes the cost of accommodation and fooding of the students and the accompanying teacher. The travel should be arranged by the students and teacher themselves. 
							</p>
						</li>

						<li data-date="28/10/2017">
							<h2>Final Event @ IIT Kharagpur</h2>
							<em>28th October, 2017</em>
							<p>	
								Start of two day finals of the Young Innovators' program at IIT Kharagpur.
							</p>
						</li>

					</ol>
				</div> <!-- .events-content -->
			</section>
		</div>
	</div>
</div>