<div class="container card">
	<div class="col-sm-12 center">
		<h3>Rules and Regulations</h3>
	</div>
	<div class="col-sm-12">
		<h4>Application Procedure: </h4>
		<ul>
			<li>
				<h5>Round 1 (Enrolment)</h5>
				<ol>
					<li>
						<p>The principal needs to nominate a coordinating teacher for this program, who will be given a user ID and password for registration of the students.</p>
					</li>
					<li>
						<p>The students will give their details of the team along with the fees to the coordinating teacher. The coordinating teacher will upload the details on the registration portal along with payment of the enrolment fee collected all at once.</p>
					</li>
					<li>
						<p>The online submissions of the projects will be done by the coordinating teacher by using his/her user id and password on the portal.</p>
					</li>
					<p>
						Deadline:<strong> 14th July, 2017.</strong><br>
						Enrolment fee:<strong> ₹ 100 per team.</strong>
					</p>
				</ol>
			</li>
			<li>
				<h5>Round 2 (Semifinal)</h5>
				<ol>
					<li>
						<p>The online submissions of full-fledged description of the proposal of the selected teams will be done by the coordinating teacher by using his/her user ID and password.</p>
					</li>
					<p>
						Last date of submission:<strong> 18th August, 2017.</strong><br>
						Enrolment fee:<strong> No fees.</strong>
					</p>
				</ol>
			</li>
			<li>
				<h5>Round 3 (Final)</h5>
				<ol>
					<li>
						<p>The teams selected for the final round will be called to IIT Kharagpur. Teams from each school will be accompanied by the coordinating teacher without which their participation for further rounds stands cancelled.</p>
					</li>
					<li>
						<p>To confirm participation for the final round in IIT Kharagpur, the teams need to pay the registration fees for final round via coordinating teacher before the deadline.</p>
					</li>
					<li>
						<p>The registration fees includes the cost of accommodation and fooding of the students and the accompanying teacher. The travel should be arranged by the students and teacher themselves.</p>
					</li>
					<p>
						Deadline for confirmation<strong> 10th September, 2017.</strong><br>
						Enrolment fee:<strong> ₹ 9870 per team.</strong>
						Date of arrival:<strong> 27th October 2017.</strong>
					</p>
				</ol>
			</li>
			<li>
				<h5>Round 4 (Winners Round)</h5>
				<ol>
					<li>
						<p>This round will be conducted in IIT Kharagpur.</p>
					</li>
				</ol>
			</li>
		</ul><br><br>
		<h4>Payment of Fees</h4>
		<ol>
			<li>
				<p>The coordinating teacher needs to sign up in the portal and fill up the necessary details of the team. Each team will have a registration id assigned to it.</p>
			</li>
			<li>
				<p>The enrolment fees and the registration fees are to be paid in the bank account(details are given below) by Challan/NEFT/IMPS/Debit card/Credit card.</p>
			</li>
			<li>
				<p>The transaction id along with the challan or the receipt generated should be uploaded on the link provided in the portal, failing to which payment of the fees won’t be considered.</p>
			</li>
		</ol>
	</div>
</div>