<!DOCTYPE html>
<html>
<head>
	<% block header %>
	<title> <$ title $> </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/external/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
	<script type="text/javascript" src="/external/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/external/bootstrap/js/bootstrap.min.js"></script>
	<% endblock %>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<% block body %>
	<% include "partials/navbar.html" %>
	<% endblock %>
	<% include "partials/footer.html" %>
	<% block scripts %>
	<% endblock %>
</body>
</html>